.bg-red {
    background-color: #C80103;
}

.txt-yl {
    color: #EFB00D !important;
}

.map {
    height: 400px;
}

.form-control:focus {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #EFB00D !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(239, 176, 13, 0.25) !important;
}

.form-select:focus {
    border-color: #EFB00D !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control {
    border: 1px solid #EFB00D !important;
}

.bt-rsc {
    background-color: #EFB00D !important;
}

@media (min-width: 767.98px) {
    .bt-rsc {
        background-color: #EFB00D !important;
        height: 7em !important;
        width: 7em !important;
    }
}

.bold {
    font-weight: 700 !important;
}

.card:nth-child(odd){
    cursor: pointer;    
}

.card:nth-child(even){
    cursor: pointer;    
}

.card:hover {
    background-color: #EFB00D !important;
    border-color: #EFB00D !important;
    outline: 0;
}
.input-group-append {
    cursor: pointer;
}
